{% if section.settings.icon_color == "accent1" %}
{% assign icon_underline_color = "{{ accent1_color }}" %}
{% elsif section.settings.icon_color == "accent2" %}
{% assign icon_underline_color = "{{ accent2_color }}" %}
{% elsif section.settings.icon_color == "inverse" %}
{% assign icon_underline_color = "{{ inverse_color_text }}" %}
{% endif %}

<section class="subnav section-{{ section.id }} bg-{{ section.settings.bg_color }} py-3 py-lg-0">
    <div class="container">
        {% if section.settings.menu != blank %}
<nav class="navbar navbar-expand-lg text-{{ section.settings.text_color }} p-0">
  <div class="container-fluid justify-content-{{ section.settings.alignment }}">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subNav" aria-controls="subNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="subnnav_menu-title show-mobile text-uppercase text-{{ section.settings.text_color }}">{{ section.settings.menu_title }} MENU
      <span class="d-inline-block ms-1 dropdown-arrow-container">
          <span class="icon-jet-Arrow"></span>
      </span>
      </span>
    </button>
    <div class="collapse navbar-collapse justify-content-{{ section.settings.alignment }} bg-{{ section.settings.bg_color }} py-3 py-lg-0 my-3 my-lg-0" id="subNav">
      <ul class="navbar-nav text-{{ section.settings.alignment }}">
        {% for item in menus[section.settings.menu].menu_items %}
                {% if item.children != blank %}
                <li class="nav-item dropdown d-flex flex-wrap">
                  <a class="nav-link dropdown-toggle my-2 d-flex justify-content-{{ section.settings.alignment }} w-100" href="#" id="subNavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="dropdown-name position-relative text-{{ section.settings.text_color }}">{{ item.name }}</span><div class="d-inline-block ms-2 dropdown-arrow-container"><span class="icon-jet-Arrow"></span></div>
                  </a>
                  <ul class="dropdown-menu w-100 text-{{ section.settings.alignment }} border-0 bg-{{ section.settings.bg_color }}" aria-labelledby="subNavDropdown">
                     {% for child in item.children %}
                    <li><a class="dropdown-item text-default position-relative my-2" href="{{ child.link }}"{% if item.new_window %} target="_blank"{%endif%}><span class="link-name position-relative text-{{ section.settings.text_color }}">{{ child.name }}</span></a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                    {% if item.name == "Home" %}
                    <li class="nav-item home-link">
                        <a class="nav-link my-2" href="{{ item.link }}"><span class="link-name position-relative text-{{ section.settings.text_color }}">{{ item.name }}</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link my-2" href="{{ item.link }}"><span class="link-name position-relative text-{{ section.settings.text_color }}">{{ item.name }}</span></a>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
      </ul>
    </div>
  </div>
</nav>
    </div>

</section>

{% endif %}

{% styles %}

.section-{{ section.id }} .dropdown-toggle::after {
    display: none;
}

.section-{{ section.id }} .navbar-toggler {
    padding: 0;
    border: none;
}

.section-{{ section.id }} button[aria-expanded="false"] .subnnav_menu-title .dropdown-arrow-container {
    transform: rotate(180deg);
    transition: all .5s ease;
}

.section-{{ section.id }} button[aria-expanded="true"] .subnnav_menu-title .dropdown-arrow-container {
    transform: rotate(0deg) !important;
}

.section-{{ section.id }} a.nav-link.is-active span.link-name::after, .section-{{ section.id }} span.link-name::after {
    bottom: -0.50rem;
    background-color: {{ icon_underline_color }}!important;
}

.section-{{ section.id }} span.link-name::after, .section-{{ section.id }} span.dropdown-name::after {
    background-color: {{ icon_underline_color }}!important;
}

.section-{{ section.id }} .navbar .icon-jet-Arrow:before {
    color: {{ icon_underline_color }}!important;
}

.section-{{ section.id }} a.nav-link {
    opacity: 0.4;
}

.section-{{ section.id }} a.nav-link.is-active, .section-{{ section.id }} a.nav-link.show {
    opacity: 1;
}

.section-{{ section.id }} span.dropdown-name::after {
    bottom: -0.7rem;
}

.section-{{ section.id }} a#subNavDropdown.nav-link div.dropdown-arrow-container {
    transform: rotate(180deg);
    transition: all .5s ease;
}

.section-{{ section.id }} a#subNavDropdown.nav-link.show div.dropdown-arrow-container {
    transform: rotate(0deg) !important;
}

.section-{{ section.id }} .subnnav_menu-title {
    font-weight: 600;
}

.section-{{ section.id }} .dropdown-menu[data-bs-popper] {
    left: -25%;
}

{% endstyles %}

{% schema %}
{
    "name": "Subnav",
    "description": "Inserts a menu anywhere on the page.",
    "settings": [
        {
            "type": "text",
            "id": "menu_title",
            "label": "Menu Title"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
            "label": "Left",
            "value": "start"
            },
            {
            "label": "Center",
            "value": "center"
            },
            {
            "label": "Right",
            "value": "end"
            }]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
            {
            "label": "Default",
            "value": "default"
            },
            {
            "label": "Inverse",
            "value": "inverse"
            }
            ]
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background Color",
            "default": "background3",
            "options": [
            {
            "label": "Black",
            "value": "black"
            },
            {
            "label": "Background 1",
            "value": "background1"
            },
            {
            "label": "Background 2",
            "value": "background2"
            },
            {
            "label": "Background 3",
            "value": "background3"
            },
            {
            "label": "Accent 1",
            "value": "accent1"
            },
            {
            "label": "Accent 2",
            "value": "accent2"
            }
            ]
        },
        {
            "type": "select",
            "id": "icon_color",
            "label": "Underline and Icon Color",
            "default": "accent1",
            "options": [
            {
            "label": "Accent 1",
            "value": "accent1"
            },
            {
            "label": "Accent 2",
            "value": "accent2"
            },
            {
            "label": "Inverse",
            "value": "inverse"
            }
            ]
        }
    ]
}
{% endschema %}